polygon {
    fill-rule: nonzero;
  }
.starRating {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.star-rating-filled {
  fill: gold;
}
.star-rating-blank {
  fill: #d8d8d8;
}
.flex-container {
  display: flex;
}
.hideStar{
  display: none;
}