.apartments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.apartment{
    flex-basis: 45%;
    border: 1px solid rgb(20, 20, 20);
    margin-bottom: 40px;
    max-height: 40rem;
    max-width: 30rem;
}

.apartmentImage{
    height: 15rem;
    width: 30rem;
}

.edit_apartment_image{
    height: 300px;
    width: 466px;
}

._search_Apartment_name{
    text-align: center;
}
.apartment__name{
    text-align: center;
}
.apartment__city_state, .apartment__description{
    margin-left: 5px;
}
._search_city-and-state{
    text-align: center;
}
.apartment__description{
    margin-bottom: auto;
}
.likeCommentFavBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}
.likesComments{
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
}
.compliment{
    flex-basis: 40%;
}

.btns{
    flex-basis: 10%;
    text-transform: uppercase;
    color: rgb(54, 114, 148);
    cursor: pointer;
    z-index: 5;
    position: relative;
    padding: 10px;
    line-height: 0px;
    margin: 0;
    height: 22px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: none;
    color: #fff;
    box-shadow: none;
} 
.comments{
    margin-left: -28px;
}
.user_Comments{
    background-color: rgb(117, 187, 214);
    vertical-align: middle;
}

._cApartment_name, 
._cApartment_city, 
._cApartment_state,
._cApartment_description,
.btn-create_apartment
.created_by{
    margin-top: 20px;
}
._cApartment_name, 
._cApartment_city, 
._cApartment_state,
._cApartment_description{
    width: 18rem;
}
.fa-like-icon{
    margin-top: 0;
    padding-top: 0;
    color: rgb(20, 54, 245);
}