.apartments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.apartment{
    flex-basis: 45%;
    border: 1px solid rgb(20, 20, 20);
    margin-bottom: 40px;
    max-height: 40rem;
    max-width: 30rem;
}

.apartmentImage{
    height: 15rem;
    width: 30rem;
}

.edit_apartment_image{
    height: 300px;
    width: 466px;
}

.edit_apartment_name{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}
.apartment__name{
    text-align: center;
    font-size: 20px;
}
.apartment__city_state, .apartment__description{
    margin-left: 5px;
}
.apartment__description{
    margin-bottom: auto;
}
.likesComments{
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
}
.compliment{
    flex-basis: 40%;
}
.complimentButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

.btns{
    flex-basis: 10%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(54, 114, 148);
    cursor: pointer;
    z-index: 5;
    position: relative;
    padding: 10px;
    line-height: 0px;
    margin: 0;
    height: 22px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgb(58, 104, 134);
    border: none;
    color: #fff;
    box-shadow: none;
} 
.comments{
    margin-left: -28px;
}
