
.favorite{
    text-decoration: underline;
    color: rgb(34, 125, 209);
}
.favorite:hover{
    font-size: 17px;
    transition-delay: 0.2s;
}
.deleteFavorites{
    display: inline-block;
    text-transform: uppercase;
    z-index: 5;
    margin-left: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: none;
    color: rgb(39, 37, 38);
    box-shadow: none;
} 