.navbar {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: rgb(248, 246, 245);
  }
  
  .href {
    color:rgb(255, 255, 255);
    font-size: 20px;
  }
  
  .href:hover {
    color: rgb(91, 103, 129);
    text-decoration: underline;
  }
  .searchLink{
    text-decoration: underline;
    color: rgb(13, 70, 104);
}
  .searchLink:focus {
    outline: 0;
  }
  
  .icon--delete {
    padding-left: 0.5rem;
  }