@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
.mainContainer {
    display: flex;
    flex-direction: column;
}
.main-section{
    display: flex;
    flex-direction: row; 
}
.searchContainer{
    flex: 1;
}
.links{    
    font-family: 'Alice', serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;    
    background-image: linear-gradient(to right top, #939eb9, #8aa0c0, #7fa3c6, #71a6cb, #5fa9ce);
    width: 100%;
    font-weight: bolder;
}
.search-box{
    width: 90%;
    height: 25px;
    border:solid 1px rgb(233, 226, 226);
    border-radius: 10px;
    margin-left: 5%;
}
.searchResults{
    padding-top: 0;
    margin-left: 5%;
    margin-top: 0;
}

.search-box:focus{
    width: 90%;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}
.listDisplay, .search-box{
    margin-top: 2rem;
}
.main-header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;    
}
.review-apartments{
    display: flex;
    flex: 1;
}
.main-navbar{
    display: flex;
    flex: 3;
    justify-content: center;
}
.userName_logout{
    display: flex;
    flex: 1;
    justify-content: end;
}
.listDisplay{
    flex: 4;
    margin-right: 5%;
}
textarea:focus, input:focus{
    outline: none;
}
.searchLink{
    text-decoration: underline;
    color: rgb(13, 70, 104);
}
.searchLink:focus {
    outline: 0;
}