*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.mainContainer {
    display: flex;
    flex-direction: column;
}


.main-section{
    display: flex;
    flex-direction: row; 
}
.searchContainer{
    flex: 1;
}
.links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgb(86, 102, 122);
    color: honeydew;
    width: 100%;
}
.search-box{
    width: 90%;
    height: 25px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    margin-left: 5%;
}
.searchResults{
    padding-top: 0;
    margin-left: 5%;
}
.main-header{
    margin-top: 20px;
}

.listDisplay{
    flex: 4;
    margin-right: 5%;
}
textarea:focus, input:focus{
    outline: none;
}
.search-box:focus{
    width: 90%;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}
.listDisplay, .search-box{
    margin-top: 2rem;
}
.main-header{
    font-size: 25px;
    font-weight: bold;
}