
/*style for myAprtment.js component*/
.my_apartments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    width: 40%;
}
.my_apartment{
    height: 450px;
    border: 1px solid rgb(130, 156, 172);
    border-radius: 10px;
    margin-bottom: 40px;
}

.my_apartment:hover{
    box-shadow: 1px 1px 20px 2px rgb(147, 180, 230);
    transition-duration: 0.2s;
    transition-timing-function:ease-out;
    transition-delay: 0.2s;
    transform: scale(0.9);
    -webkit-transition-delay: 0.2s;
}
.my_apartment_image{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}
.my_apartment_name{
    text-align: center;
    font-size: 20px;
}
.my_apartment__city_state{
    text-align: center;
}
.my_apartment__description{
    margin: 10px;
}
.edit_delete_btn{
    display: flex;
    flex-direction: row;
}
.edit_my_apartment, .delete_my_apartment{
    margin-bottom: 2%;
    margin-bottom: 10px;
}
.edit_my_apartment{
    margin-left: 2%;
    height: 26px;
    margin-top: 10px;
}
.delete_my_apartment{
    margin-left: 78%;
    margin-top: auto;
}

/*style for DeleteMyApartment.js component*/
.fa-delete-my-apartment{
    font-size: 18px;
    color: rgb(73, 45, 55);
}
.delete-warning{
    display: inline-block;
    margin-right: 54%;
}
.deleting_my_apartment{
    display: inline-block;
}
.warning-sign{
    color: rgb(240, 168, 110);
    font-size: 34px;
}
.custom-modal-style{
    height: 300px;
    width: 1000px;
}