.delete_Apartment{
    margin-right: -100%;
}
.delete_my_apartment{
    margin-left: 81%;
    margin-bottom: 5px;
}
.userApartment_name{
    font-size: 16px;
    text-align: center;
}
.userApartmentImage{
    height: 17rem;
    width: 100%;
}
.userApartment__description{
    max-width: 20rem;
    margin-left: 5px;
}
.userApartment__city_state{
    margin-left: 5px;
}

.userApartment{
    margin-bottom: 15px;
    border: 1px solid rgb(73, 58, 21);
    margin-left: 30%;
    max-width: 28%;
}

.userApartment:hover{
    box-shadow: 1px 1px 20px 2px rgb(147, 180, 230);
    transition-duration: 0.2s;
    transition-timing-function:ease-out;
    transition-delay: 0.2s;
    transform: scale(0.9);
    -webkit-transition-delay: 0.2s;
}
