/*style for Auth.js component*/
.big-wrapper{
    margin-top: 4%;
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-height: 100%;
}

.authContainer{
    margin-top: 3%;
    display: flex;
    align-items: center;
    margin-left: 45%;
}
.login-page-button, .register-page-button{
    display: flex;
    flex-direction: column;
}
.login-page-button{
    margin-right: 10%;
}
/*style for Login.js component*/
.welcome {
    text-align: center;
}
.propmpt-signin{
    margin-left: 42%;
    margin-top: 1%;
}
.login-password-field, .login-email-field, .login-submit{
   margin-left: 42%;
   margin-top: 1%;
}
.login-email-field, .login-password-field{
    width: 20%;
}

/*style for Register.js component*/
.container-register{
    margin-left: 42%;
}
.create-account{
    margin-top: 4%;
}
.create-account,
.register-firstname-field,
.register-lastname-field,
.register-email-field,
.register-password-field,
.register-verify-password{
    width: 40%;
    margin-bottom: 2%;
}
